#page_title {
    color: cornflowerblue;
    background-color:darkturquoise
}

h1 {
    color: bisque
}

section{
    background-color:aquamarine
}

.title {
    color:red
}

.description {
    color:darkorange;
}

.read-more {
    color: blue
}